body {
	background-color:white; 
	font: normal 16px Arial; 
	margin: 0px; 
	padding: 0px;
}
#all {
	padding: 10px 0px; 
	width: 10%;
}
#title {
	position: relative; 
	left: 160px; 
	top: 40px; 
	width: 100px;
}
#pic1 {
	position: relative; 
	left: 130px; 
	top: -10px; 
	width: 100px;
}
a:link {
	text-decoration: none; 
	color: black
}
a:visited {
	text-decoration: none; 
	color: black
}
a:active {
	text-decoration: none; 
	color: blue
}
a:hover {
	text-decoration: underline; 
	font-weight: bold; 
	color: black
}
#pic2 {
	position: relative; 
	left: 430px; 
	top: -460px; 
	width: 100px; 
	height:50px;
}
#hero {
	position: relative; 
	left: 500px; 
	top: -400px; 
	width: 450px; 
	font-size: 20px; 
	height: 50px;
}
#saga {
	position: relative; 
	left: 630px; 
	top: -380px; 
	width: 150px; 
	font-size: 20px; 
	height: 50px;
}
#plain {
	position: relative; 
	left: 630px; 
	top: -420px; 
	width: 350px; 
	font-size: 20px; 
	height: 50px;
}
#main {
	position: relative; 
	left: 420px; 
	top: -450px; 
	width: 590px; 
	font-size: 16px; 
	text-indent: 15px; 
	height: 40px;
}
#next {
	position: relative; 
	left: 930px; 
	top: -50px; 
	width: 100px; 
	font-size: 16px; 
	font-weight: bold; 
	height: 10px;
}
#names {
	position: relative; 
	left: 570px; 
	top: -380px; 
	width: 450px; 
	font-size: 20px; 
	height: 50px;
}
#pic{position: relative; 
	left: 400px; 
	top: -440px; 
	width: 150px; 
	height: 20px;
}
#local {
	position: relative; 
	left: 730px; 
	top: -460px; 
	width: 150px; 
	font-size: 16px; 
	height: 20px;
}
#bio {
	position: relative; 
	left: 420px; 
	top: -155px; 
	width: 590px; 
	font-size: 16px; 
	text-indent: 15px; 
	height: 10px;
}
#type {
	position: relative; 
	left: 600px; 
	top: -420px; 
	width: 250px; 
	font-size: 20px; 
	font-weight: bold; 
	height: 20px;
}
#super {
	position: relative; 
	left: 530px; 
	top: -410px; 
	width: 150px; 
	height: 20px;
}
#level1 {
	position: relative; 
	left: 550px; 
	top: -420px; 
	width: 450px; 
	font-size: 20px; 
	height: 50px;
}